body {
    background-image: url(../../bilder/woodland.png);
    background-size: cover;
    background-position: center;
}

#logoheader {
    height: 200px;
    width: 200px;
    border: solid black 5px;
    border-radius: 10px;
}

nav {
    font: 36px merriweather;
    display: flex;
    gap: 0.8rem;
    align-items: flex-start;
    padding: 1rem;
}

    nav details {
        display: inline-block;
        position: relative;
        min-width: 0;
        border: solid 5px black;
        border-radius: 10px;
        background-color: #A69677;
        width:250px;
    }

        nav details > summary {
            list-style: none;
            cursor: pointer;
            padding: 8px 12px;
            border-radius: 6px;
            background-color: #4A5946;
            color: white;
            user-select: none;
        }    

        nav li {
            font: 26px merriweather;
            background-color: #3C403F;
            border: solid 2px black;
            border-radius: 5px;
            text-align: center;
            margin-right: 20px;
        }

            nav a:hover {
                color: #4A5946;
                text-decoration: underline;
            }

            nav a:link {
                color: #A69677;
                text-decoration: none;
            }

            nav a:visited {
                color: white;
                text-decoration: wavy;
            }





#Produktvorschau {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    border: solid black 5px;
    
}

    #Produktvorschau img {
        flex: 1 1 calc(33.33% - 20px);
        max-width: 100%;
        height: auto;
        display: block;
    }   

#dropdownmenu {
    display: block;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #A69677;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

}

    button:hover {
        background-color: #4A5946;
    }

    #button-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        padding: 2px;
    }
        #button-container button {
            flex: 1 1 100px; 
            max-width: 250px; 
            padding: 12px 20px;
            font-size: 18px;

        }


@media (max-width: 768px) {
    * {
        font-size: 25px;
    }

    nav details{
        width: 165px;
    }
    #logoheader {
        height: 150px;
        width: 150px;
    }

    #button-container button {
        flex: 1 1 75px;
        max-width: 100px;
        padding: 10px 10px;
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    * {
        font-size: 20px;
    }

    #logoheader {
        height: 100px;
        width: 100px;
    }

    #button-container button {
        flex: 1 1 50px; 
        max-width: 75px; 
        padding: 10px 10px;
        font-size: 12px;
    }
}