body {
    background-image: url(../../bilder/woodland.png);
    background-size: cover;
    background-position: center;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background: #0a0a0a;
    color: #fff;
    margin-top: 3rem;
}

    footer a {
        color: #007bff;
    }

        footer a:hover {
            text-decoration: underline;
        }
