
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body { /*Bestimmt Schrift, Schriftabstand, Hintergrund*/
    font-family: 'Lato', sans-serif;
    color: #0a0a0a;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-image: url(../../bilder/woodland.png);
}

p { /*Bestimmt die Schrift des P Elements*/
    font-family: 'Lato', sans-serif;
}

header { /*Hintergrund des Headers und die Borderdicke unf Farbe*/
    background-color: #0a0a0a;
    color: #ffffff;
    text-align: center;
    padding: 2rem 1rem;
    border-bottom: 4px solid #4A5946;
}

    header h1 { /*Schrift, Grösse usw des Headers*/
        margin: 0;
        font-family: 'Merriweather', serif;
        font-size: 36px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

body > h2,
body > p {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 { /*Grösse, Schrift usw des H2 Elements*/
    color: whitesmoke;
    font-size: 1.4rem;
    margin-top: 1.8rem;
    border-left: 4px solid #4A5946;
    padding-left: 10px;
    font-family: 'Merriweather', serif;

}

p { /*Hintergrund des P Elements inkl Schriftgrösse*/
    font-size: 16px;
    margin-top: 0.5rem;
    background: #ffffff;
    padding: 1rem 1.2rem;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    font-family: "Lato", sans-serif;
}


a { /*Design des Anchor Elements*/
    color: #007bff;
    text-decoration: none;
    word-break: break-all;
    transition: color 0.2s;
}




footer {
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding: 25px 15px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-top: auto;
}

    footer a {
        color: #007bff;
        text-decoration: none;
        margin: 0 5px;
        transition: color 0.2s;
    }

        footer a:hover {
            color: #0056b3;
            text-decoration: underline;
        }

@media (max-width: 700px) {
    header h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    
}
