@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


body { 
    background-image: url(../../bilder/woodland.png);
    background-size: cover;
    background-position: center;
}
footer { /*Verschiedene Eigenschaften des Footers wie Farbe, Schrift etc*/
    text-align: center;
    padding: 1.5rem;
    background: #0a0a0a;
    color: #fff;
    margin-top: 3rem;
}

    footer a { /*Farbe der Anchor Elemente*/
        color: #007bff;
    }

        footer a:hover { /*Definiert den Farbwechsel beim "hovern"*/
            text-decoration: underline;
        }


p {
    font-family: "Lato", sans-serif; /*Schriftart der P Elemente zusätzlich Grösse etc*/
    line-height: 1,5px;
    font-size: 16px;
    color: whitesmoke;
}

h1 {
    font-family: "Merriweather", serif; /*Schriftart, Schriftgrösse und Farbe der h1 elemente*/
    font-size: 36px;
    color: whitesmoke;
}

h2 {
    font-family: "Merriweather", serif; /*Schriftart, Schriftgrösse und Farbe der h2 elemente*/
    font-size: 28px;
    color: whitesmoke;
}

.bilder {
    width: 100%;
    max-width: 400px;
}
    /*Sorgt für skalierende Bilder*/

    .bilder img {
        width: 100%;
        height: auto;
        display: block;
    }
